.app-layout {
  display: grid;
  width: 100vw;
  height: 100%;
  // 40px for the menu bar and the rest of the screen for the app's content
  grid-template-rows: 30px calc(100vh - 30px);
}

.body-layout {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100vw;
}

.tab-panel {
  width: 100%;
  height: calc(100vh - 30px);
  background-color: black;
}

.panel-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  border-bottom: 2px solid var(--border-color);
}
