* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  border: 0;
  background: none;
  font-size: 1rem;
  line-height: 1;
}

body {
  background-color: var(--body-bg-color);
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

ul, ol {
  list-style: none;
}

a {
  font: inherit;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

input {
  outline: none;
  background-color: var(--secondary-container-bg);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
